*{
    margin:0;
    padding:0;
}
.header{
     height:100vh;

}
.navber-style{
    box-shadow: 0 5px 10px cornsilk
}
.logo{
    height: 60px;
    padding: 2px 10px;
}
.icon-bar{
background:black ;
}
.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: red;
}
a.btn{
     margin: 30px  10;
     width: 150px;
     padding: 10px;
     border-radius: 20px;

}
a.btn-first{
background: transparent;
color: black;
}
a.btn-second{
background: transparent;
border: 1px solid black;
}
a.btn:hover{
    background:blue;
    box-shadow:5px 5px 10px green;
    
}